@model List<WEB_Karaoke.Models.Visitor>

<!DOCTYPE html>

<html>
<head>
    <title>Регистрация стола</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css">
        body {
        width: 100%;
        max-width: 1500px;
        min-height: 800px;
        margin: :0px;
        padding: 0px;
        background-repeat: no-repeat;
        background-repeat: round;
        }

        .staticFon {
        background: url("img/photo_2025-01-08_13-44-49.jpg");
        position: fixed;
        top: 0;
        left: 0;
        width: 1500px;
        height: 800px;
        z-index: 1;
        }

        .telo {
        position: relative;
        width: 600px;
        height: 1000px;
        margin-left: 20%;
        margin-top: 30px;
        z-index: 2;
        }

        .logo {
        background: url(img/DevuskeShrokor.png);
        height: 214px;
        border-radius: 4px;
        margin-bottom: 4px;
        border: 1px solid #ccc;
        }

        .content {
        background: url("img/photo_2025-01-08_20-26-53.jpg");
        min-height: 500px;
        border-radius: 4px;
        padding: 10px 15px 10px 5px;
        border: 1px solid #ccc;
        }

    </style>
</head>
<body>

    <div class="telo">
        <div class="logo">
        </div>
        <div class="content">
            <h3 align="center">Список зарезервированных билетов и песен </h3>
            <ol>
                @foreach(var a in Model)
                {
                    <li>@a.ToString</li>
                } 
                
            </ol>

        </div>

    </div>
    <div class="staticFon">
    </div>
</body>

</html>